
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header-main{
    margin-left: 100px;
    margin-right: 100px;
}
.footer-main{
    margin-left: 100px;
    margin-right: 100px;
}